# Laravel
/.env
/.env.backup
/.env.production
/.phpunit.cache
/.phpunit.result.cache
/auth.json
/storage/*.key
/storage/pail
/vendor
/Homestead.json
/Homestead.yaml

# Laravel build & public storage
/public/build
/public/hot
/public/storage
/public/frontend

# Node & Angular
/node_modules
/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache
npm-debug.log
yarn-error.log

# IDEs and editors
/.idea
/.vscode
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/.fleet
/.nova
/.zed
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*

# Miscellaneous
.phpactor.json
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
.sass-cache/

# System files
.DS_Store
Thumbs.db
