<div>
    <h2 class="form-title">Crear cuenta</h2>
    <p class="form-subtitle">Complete el formulario para registrarse</p>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="fullName" class="input-label">Nombre completo</label>
      <input
        type="text"
        id="fullName"
        class="input-field"
        placeholder="Juan Pérez"
        formControlName="fullName"
      />
      <div *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched" class="error-message">
        El nombre es requerido
      </div>
    </div>

    <div class="input-group">
      <label for="register-email" class="input-label">Correo electrónico</label>
      <input
        type="email"
        id="register-email"
        class="input-field"
        placeholder="nombre@empresa.com"
        formControlName="email"
      />
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error-message">
        Ingrese un correo electrónico válido
      </div>
    </div>

    <div class="input-group">
      <label for="register-password" class="input-label">Contraseña</label>
      <input
        type="password"
        id="register-password"
        class="input-field"
        placeholder="Mínimo 8 caracteres"
        formControlName="password"
      />
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error-message">
        La contraseña debe tener al menos 8 caracteres
      </div>
    </div>

    <div class="checkbox-container">
      <input
        type="checkbox"
        id="terms"
        formControlName="terms"
      >
      <label for="terms" class="checkbox-label">
        Acepto los <a href="#" class="link-blue">términos y condiciones</a>
      </label>
      <div *ngIf="registerForm.get('terms')?.invalid && registerForm.get('terms')?.touched" class="error-message terms-error">
        Debe aceptar los términos y condiciones
      </div>
    </div>

    <button type="submit" class="auth-button" [disabled]="registerForm.invalid">
      Crear cuenta
    </button>
  </form>
